{% load static %}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Edit Metadata">
  <meta name="keywords" content="Edit, Metadata">
  <meta name="author" content="Andrei Baliyevich">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>Edit Metadata</title>
  {% bootstrap_css %}
</head>

<body class="container">
  <header class="my-5">
    <h1 class="display-3 text-center">Edit Metadata</h1>
  </header>

  {% block content %}{% endblock content %}

  <footer class="px-md-5 mx-md-5 mt-5">
    <small class="float-end">Copyright &copy; 2020-{% now "Y" %} Edit Metadata</small>
  </footer>
</body>
</html>
