{% extends 'base.html' %}


{% load bootstrap5 %}


{% block content %}

<div class="py-5 px-md-5 mx-md-5 text-center">
  <h1 class="display-5 fw-bold">Error 500</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Internal Server Error!</p>
    <p class="lead mb-4">Server encountered an unexpected condition that prevented it from fulfilling the request.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'main:index' %}">Go Home</a>
    </div>
  </div>
</div>

{% endblock content %}
